repos:
  - repo: local
    hooks:
      - id: ruff
        name: Ruff
        entry: .venv/bin/python -m ruff check
        language: system
        types: [python]
      - id: ty
        name: Ty
        entry: uv run ty check
        language: system
        types: [python]
        pass_filenames: false
      - id: pytest
        name: Pytest
        entry: .venv/bin/pytest
        language: system
        pass_filenames: false
