[tool.uv.workspace]
members = ["cli", "backend"]

[tool.pytest.ini_options]
markers = ["end_to_end: end-to-end tests"]
filterwarnings = [
    "ignore:Setting per-request cookies=<...> is being deprecated:DeprecationWarning:starlette",
]

[dependency-groups]
dev = [
    "pytest",
    "ruff",
    "mypy",
]

[tool.ruff]
line-length = 100
target-version = "py313"

[tool.ruff.lint]
select = ["E", "F", "I"]

[tool.mypy]
python_version = "3.13"
warn_return_any = true
strict = true
strict_optional = true
ignore_missing_imports = false
namespace_packages = false

[[tool.mypy.overrides]]
module = [
    "tqdm.*",
    "scipy.*",
    "sklearn.*",
]
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = [
    "tests.*",
    "cli.tests.*",
    "backend.tests.*",
]
disallow_untyped_defs = false
check_untyped_defs = false
ignore_errors = true
